/*****/
/****/

   

/*external fonts*/


/****scenario***/
@font-face {
  src: url(/Halloween/font/bloody.ttf); 
  font-family: terror;
  
}
body{
  background-color: black;
}

#scenario {
  width: 1400px;
  height: 700px;
  background-image: url(../img/background.jpg);
  margin:auto;
  position:relative
}
#door{
  width: 50px;
  height: 80px;
/*border: 2px solid purple; se coloca un borde visible para encontrarlo al momento de posicionarlo*/
position: absolute; 
/*esto posiciona el event de raton, hay que ir calculandolo de a poco*/
top: 450px;
left: 950px;
}
#witch{
position: absolute; 
/*esto posiciona el event de raton, hay que ir calculandolo de a poco*/
height: 100px;
top: 460px;
left: 900px;
/*border: 2px solid purple;
display: none; la bruja no se ve por defecto*/
visibility:hidden;
}
#pumpkin_smile{
  width: 30px;
  height: 80px;
/*border: 2px solid white; */
position: absolute; 
top: 490px;
left: 120px;
}
#face{
position: absolute; 
/*esto posiciona el event de raton, hay que ir calculandolo de a poco*/
height: 200px;
top: 570px;
left: 200px;
/*border: 2px solid purple;
display: none; la bruja no se ve por defecto*/
visibility:hidden;
}
#chimney{
  width: 70px;
  height: 90px;
/*border: 2px solid white;*/ 
position: absolute; 
top: 140px;
left: 1250px;
}
#bat{
position: absolute; 
/*esto posiciona el event de raton, hay que ir calculandolo de a poco*/
height: 100px;
top: 140px;
left: 1180px;
/*border: 2px solid purple;
display: none; la bruja no se ve por defecto*/
visibility:hidden;
}
#doortext{
  color: aliceblue;
  font-size: 2.5em;
  font-family: terror;
  position: absolute;
  top: 150px;
  left: 500px;
  
}
/*la animacion mas sencilla se controla desde cs */
/*#doortext:hover{   color: red;}
mirar animations en cssesto deberia ir arriba tambien*/
#doortext {

opacity: 0;/*esto hara que no se vea, que sea transparente*/
animation-name: showdoortext;
animation-duration: 6s;
animation-iteration-count: infinite;}/*esto lo convierte en bucle*/
@keyframes showdoortext {
  from{opacity:0;
    color: white;
    left: 0px;
  }
  to{opacity: 1;
  color: red;
left: 1100px;}
  
}

